modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run build && npm run start"]
build = ["npm", "run", "build"]

[[ports]]
localPort = 3000
externalPort = 3000

[workflows]
runButton = "Start"

[[workflows.workflow]]
name = "Start"
author = 37164666

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run start -- -p 80 -H 0.0.0.0"
